.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #222;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: space-between; /* keeps logo left, home right */
    padding: 0 40px; /* more breathing room, but not too much */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .logo-text{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .text {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links a {
    position: relative;
    font-size: 20px;
    color: #666;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  .nav-links a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #666;
    transition: 0.3s;

  }

  .nav-links a:hover::before {
    width: 100%;
  }
  
  